<div class="petsitter-store-contents">
  <ul class="petsitter-store-content">
    <% @petsitters.each do |petsitter| %>
      <div class="top-info">
        <div class="top-info_name-and-area">
          <li class= 'top-info_name-and-area_name'><%= link_to petsitter.name, petsitter %></li>
          <li class='top-info_name-and-area_area'>名称:<%= petsitter.email %></li>
        </div>
        <div class="top-info_action-buttons">
          <i class="fas fa-user-check fa-lg user-count-0"></i>
          <i class="fas fa-bookmark fa-lg clip-count-0"></i>
        </div>
      </div>

      <div class="bottom-info">
        <div class="bottom-info_left">
          <%=link_to image_tag("136x136.png", class:'samplesample'), root_path%>
        </div>
        <div class="bottom-info_right">
          <div class="bottom-info_right_overview">
            テストテストテストテストテストテストテスト
          </div>
          <div class="bottom-info_right_rating">
            <%#= render partial: 'layouts/rate' %>
            ★★★★★ ●1件 ×1件
          </div>
          <div class="bottom-info_right_top_review">
            <div class="bottom-info_right_top_review_title-and-user">
              <div class="bottom-info_right_top_review_title-and-user_title">タイトルテスト</div>
              <div class="bottom-info_right_top_review_title-and-user_user">ユーザーネーム</div>
            </div>
            <div class="bottom-info_right_top_review_content">テストテストテストテスト</div>
          </div>
        </div>
      </div>
    <% end %>
  </ul>
</div>
