<h1>ユーザー新規登録</h1>
<div class='nav justify-content-end'>
  <%= link_to 'トップページへ', root_path, class:'nav-link' %>
</div>

<!-- ユーザー新規登録フォーム -->
<%= render partial: 'form', locals: { user: @user } %>

<!-- SNSログインボタン -->
<%= render partial: 'layouts/snsLoginBtn' %>