


html {
  font-size: 100%;
}

body {
  font-family: "Yu Gothic Medium", "游ゴシック Medium" , "YuGothic" , "游ゴシック体", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.7;
  color: #432;
}

a {
  text-decoration: none;
  font-size: 14px;
  &:hover {
    cursor: pointer;
  }
}

img {
  max-width: 100%
}

div {
  display: block;
}

//.btn {
//  display:block;
//  max-width: 180px;
//  border: 2px solid #333;
//  font-size: 16px;
//  color: #333;
//  font-weight: bold;
//  padding:16px;
//  text-align: center;
//  border-radius: 4px;
//  transition: .4s;
//}
//.btn:hover {
//  background-color: #333;
//  border-color: #333;
//  color: #FFF;
//}

.wrapper {
  max-width: 1600px;
  min-width: 1280px;
  margin: 0 auto;
  padding: 0 240px 0;
  //border-bottom: 1px solid black;
}



//.fa-lg {
//  font-size: 1.3333333333em;
//  line-height: 0.75em;
//  vertical-align: -.0667em;
//}