


html {
  font-size: 100%;
}

body {
  font-family: "Yu Gothic Medium", "游ゴシック Medium" , "YuGothic" , "游ゴシック体", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.7;
  color: #432;
}

a {
  text-decoration: none;
  font-size: 14px;
  &:hover {
    cursor: pointer;
  }
}

img {
  max-width: 100%
}

div {
  display: block;
}

//.btn {
//  display:block;
//  max-width: 180px;
//  border: 2px solid #333;
//  font-size: 16px;
//  color: #333;
//  font-weight: bold;
//  padding:16px;
//  text-align: center;
//  border-radius: 4px;
//  transition: .4s;
//}
//.btn:hover {
//  background-color: #333;
//  border-color: #333;
//  color: #FFF;
//}

.wrapper {
  max-width: 1600px;
  min-width: 1280px;
  margin: 0 auto;
  padding: 0 240px 0;
  //border-bottom: 1px solid black;
}

.index-page-title-wrapper {
  height: 200px;
  padding-top: 50px;
  //padding: 0 240px 0 120px;
}

.form-label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin: 0 10px;
  width: 100px;
}

//.fa-lg {
//  font-size: 1.3333333333em;
//  line-height: 0.75em;
//  vertical-align: -.0667em;
//}


//ページネーション（petsitters/indexで使用）

/*ページネーション自体のデザイン*/
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;

  & >li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  &>.disabled>span {
    color: #777777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
  }

  & >li {
    display: inline;

    & >a {
      position: relative;
      float: left;
      padding: 6px 12px;
      margin-left: -1px;
      line-height: 1.428571429;
      color: #337ab7;
      text-decoration: none;
      background-color: #fff;
      border: 1px solid #ddd;
      &:hover {
        z-index: 2;
        color: #23527c;
        background-color: #eeeeee;
        border-color: #ddd;
      }
    }
  }
}

//.pagination>li>a {
//  border: none;     /*枠線をなくす*/
//  color: #696969;   /*文字の色を変える*/
//}
//
///* 表示しているページ番号のデザイン */
//.pagination>.active>a {
//  background: #93c9ff;     /*背景の色を変える*/
//  border-radius: 15px;     /*角を丸くする*/
//}
//
///*ホバー時のデザイン*/
//.pagination>li>a:hover {
//  border-radius: 15px;    /*角を丸くする*/
//}