
/* commonSecondHeader
------------------------- */

.second-header-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 960px;
  max-height: 180px;
  text-align: center;
  //background-color: #bbbbbb;
  margin: 5px auto 0;
  //background-color: #00bbdd;
}

.breadcrumbs {
  display: flex;
  //flex-direction: row;
  //justify-content: flex-start;
  //justify-items: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 50px;
  margin: auto 0;
  font-size: 14px;
}

.cover-img {
  background-color: #bbbbbb;
  width: 100%;
  height: 65px;
}

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 0 0 16px;
  width: 100%;
  height: 100%;
  height: 65px;
}

.image-icon {
  //background-color: #f0ad4e;
  padding: 4px;
  width: 88px;
  height: 88px;
  position: relative; bottom: 40px;
}

.test-user {
  padding: 4px;
  width: 88px;
  height: 88px;
  position: relative; bottom: 40px;
  object-fit: cover;
}

.user-content-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 0 0 15px;
  //background-color: blue;

  &_title {
    font-weight: bold;
    font-size: 14px;
  }

}

.user-content-nav {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  height: 100%;
  //width: auto;
  //background-color: #666666;
}

.user-content-nav-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100px;
  height: 100%;
  //background-color: #f0ad4e;
  //border-right: dashed 1px #999;
  position: relative; top: 8px;

  & ::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    right: -1px;
    height: 2.2em;
    width: 1px;
    margin-top: -1.1em;
    background-color: lightgray;
  }
}

.first-nav {
  //display: flex;
  //flex-direction: row;
  //justify-content: center;
  //align-items: center;
  //text-align: center;
  //width: 100px;
  //height: 100%;
  //position: relative; top: 8px;
  & ::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 1px;
    display: inline-block;
    width: 1px;
    height: 2.2em;
    margin-top: -1.1em;
    background-color: lightgray;
  }
}

.user-header-line {
  position: absolute;
  left: 0px;
  width: 100%;
  min-width: 1280px;
  border-top: 1px solid grey;
  overflow: hidden;
}

