
.required::after {
  content: "必須";
  background-color: #f0ad4e;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  min-width: 10px;
  padding: 3px 7px;
  margin: 0px 5px;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  border-radius: 10px;
  display: inline-block;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  font-size: 12px;
}

.field-label {
  margin: 0 24px 0 0;
  padding: 10px 0;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 200;

}

.form-control {
  padding: 4px 8px;
  letter-spacing: 1px;
  font-size: 12px;
}

.image-btn {
  display: block;
  width: 100%;
  padding: 4px 8px;
  letter-spacing: 1px;
  font-size: 14px;
}

.img_prev:hover {
  cursor: pointer;
  opacity: 0.7;
  transform: scale(1.01, 1.01);
}

#submit_btn {
  display: flex;
}

.user-submit {
  float: left;
  margin-top: 10px;
  background-color: #03A9F4;
  color: #fff;
}