
.required::after {
  content: "必須";
  background-color: #f0ad4e;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  min-width: 10px;
  padding: 3px 7px;
  margin: 0px 5px;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  border-radius: 10px;
  display: inline-block;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;

}

.field-label {
  margin: 0 24px 0 0;
  padding: 10px 0;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 200;

}

.form-control {
  padding: 4px 8px;
  letter-spacing: 1px;

}


#submit_btn {
  display: flex;
}