
/* トップページ以外のヘッダーCSS
------------------------- */

/* HEADER
------------------------- */

.header {
  width: 100%;
  height:96px;
  background-color: white;

  &_border {
    min-width: 1280px;
    height: 96px;
    border-bottom: 1px solid lightgray;
  }

}

.header-wrapper {
  max-width: 1600px;
  min-width: 960px;
  margin: 0 auto;
  padding: 0 240px 0;

  &_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    padding-top: 10px;
  }

  &_bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 56px;
  }

}

.menu {
  display: flex;
  align-items: center;
}

.menu-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 14px;
}

.menu-option {
  margin: 0 10px;
  & a {
    color: gray;
  }
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 12px;
}

.app-icon-box {
  width: 160px;
}

.logo {
  width: 100%;
}

.header-icon {
  height: 40px;
}

.search-box {
  width: calc(100% - 60px);
  padding-left: 50px;
}

.search-container {
  display: flex;
  align-items: center;
  min-width: 640px;
  margin: 0 auto;
  border: solid 1px gray;
  border-radius: 4px;

  &_submit {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 60px;
    height: 36px;
    border: none;
    border-radius: 0 3px 3px 0;
    outline: none;
    background-color: gray;
    color: white;
    cursor: pointer;
  }
}

.search-content {
  width: calc((100% - 60px)/2);
  height: 36px;
  padding: 0 8px;
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right: solid 1px lightgray;
  outline: none;
}
