

/* ペットシッターページのCSS
------------------------- */

/* index
------------------------- */

/*
------------------------- */

.petsitter-store-contents {
  width: 100%;
  height: auto;
  font-size: 12px;
}


.petsitter-store-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  list-style: none;
  width: 960px;
  height: 100%;
}

.top-info {
  display: flex;
  width: 100%;
  height: 50px;
  border-top: solid 2px gray;
  border-bottom: solid 1px gray;

  &_name-and-area {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    margin: 0 0 0 16px;
    width: 100%;
    height: 50px;

    &_name {
    }

    &_area {
      margin: 0 0 0 12px;
    }

  }

  &_action-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 120px;
    height: 50px;
    //border-right: solid 1px black;
    //background-color: peachpuff;

  }
}

.user-count-0 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  width: 50%;
  color: gray;
  border-right: solid 1px lightgray;
  //background-color: #00bbdd;
  //border-right: ;
}

.clip-count-0 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  width: 50%;
  color: gray;
  //border-right: ;

}



.bottom-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: 200px;
  //background-color: cadetblue;
  padding: 16px;

  &_left {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 170px;
    height: 148px;
    border: solid 1px orange;
    padding: 4px;

  }

  &_right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    width: 100%;
    padding: 8px 16px;


    &_overview {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      //text-align: center;
      width: 100%;
      height: 32px;

    }

    &_rating {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      text-align: center;
      width: 100%;
      padding: 8px 0;
      height: 32px;

    }

  }
}

.samplesample {
  width: 136px;
  height: 136px;
}

.bottom-info_right_top_review {
  display: flex;
  flex-direction: column;
  height: 72px;
  padding: 12px;
  background-color: floralwhite;

  &_title-and-user {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    &_title {
      text-align: center;

    }

    &_user {
      text-align: center;

    }

  }

  &_content {
    display: flex;
    justify-content: flex-start;
    padding: 8px 0;

  }

}


