
/* トップページで使用するcssはこのページにまとめています。
------------------------- */

/* トップページ背景画像
------------------------- */
.big-bg{
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

#home {
  background-image: url(cat-and-dog.jpg);
  height: 500px;
  //min-height: 100vh;
}

/* HEADER
------------------------- */
.page-header {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 210px;
}

.index-main-nav {
  display: flex;
  font-size: 1.00rem;
  text-transform: uppercase;
  margin-top: 34px;
  list-style: none;
}

.index-main-nav li {
  margin-left: 36px;
}

.index-main-nav a {
  color: #fff;
}

.index-main-nav a:hover {
  color: #0bd;
}

/* HOME
------------------------- */

.home-content {
  text-align: center;
  margin: 3% 40% 8% 0%;
  //margin-top: 3%;
  color: #fff;
  //margin-right: 40%;
}

/* 見出し */
.page-title {
  font-size: 2rem;
  font-family: 'Philosopher', serif;
  text-transform: uppercase;
  //font-weight: normal;
  color: lightseagreen;
  font-weight: bold;

}

///* ボタン */
//.button {
//  font-size: 1.2rem;
//  background: #0bd;
//  color: #fff;
//  border-radius: 5px;
//  padding: 18px 32px;
//}
//
//.button:hover {
//  background: #0090aa;
//}

//#home .page-title {
//  text-transform: none;
//}

/* 検索エリア
------------------------- */
.header-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 40px 4%;
  background-color: #fff;
  border:1px solid #bbb;
  border-radius: 4px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset,
  0 0 2px rgba(255, 255, 255, 0.3) inset,
  0 0 10px rgba(0, 0, 0, 0.1) inset,
  0 1px 20px rgba(0, 0, 0, 0.1);
  margin: auto 4%;
  //width: 1400px;
  height: 100px;

}

.search-field {
  margin: 0 0;
  padding: 0 0;
  display:flex;
  flex-direction: row;
  text-align: center;
}

.search-group {
  width: 250px;
  border-radius: 3px;
}

.top-search-form {
  width: 100%; /*親要素いっぱい広げる*/
  padding: 10px 15px; /*ボックスを大きくする*/
  font-size: 16px;
  border-radius: 3px; /*ボックス角の丸み*/
  //border: 2px solid #ddd; /*枠線*/
  box-sizing: border-box; /*横幅の解釈をpadding, borderまでとする*/
}

/* ボディ部分（枠組み）
------------------------- */

#wrap {
  width: 1200px;
  margin: 0px auto;
}

#index-contents {
  float: left;
  width: 900px;
  height: auto;
  //border: dashed 1px #999;
  margin: 10px 0px 10px 0px;
}

#body-contents {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 960px;
  height: auto;
  //border:dashed 1px #999;
  margin: 0 auto;
}

#sidenavi {
  float: right;
  width: 280px;
  height: auto;
  //border: dashed 1px #999;
  margin: 10px 10px 10px 0px;
}

footer {
  clear:both;
  //border:dashed 1px #999;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}


/* コンテンツ部分
------------------------- */
/* エリア検索ボックス */
.search-area {
  width: 80%;
  height: 300px;

  &_title {
    margin: 30px 5% 0px;

  }

  &_area {
    background-color: #fff;
    border-radius: 5px;
    border: 2px solid #ddd; /*枠線*/
    margin: 0% 5% 5% 5%;
    padding: 5% 5% 5% 5%;
    font-size: 24px;
  }

}

.top-areas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.top-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  width: 114px;
  height: 46px;
  margin: auto 10px auto auto;
  padding: 12px 0px;
  background-color: #fff;
  border-radius: 5px;
  border: 2px solid #ddd;
  font-size: 16px;
}

.area-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 100%;
  height: 50px;
}

.all-area {
  font-size: 12px;
  margin: 10px 125px 0 0;

}

/* 対応可能動物検索ボックス */
.pet-type-area {
  width: 80%;
  height: 300px;

  &_title {
    margin: 30px 5% 0px;
  }

  &_area {
    background-color: #fff;
    border-radius: 5px;
    //margin: 5% 0 0;
    margin: 0 5%;
    font-size: 24px;
  }
}

.pet-type-pics {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.pet-type-pic {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin: auto 10px auto auto;
}

.pet-type-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 100%;
  height: 40px;
}

.all-pet-type {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  width: auto;
  height: auto;
  padding: 2px 4px 2px;
  margin: auto 10px auto auto;
  background-color: #fff;
  border-radius: 5px;
  border: 2px solid #ddd;
  font-size: 12px;
}

/* 高評価店リスト */
.high-rate-area {
  width: 80%;
  height: auto;

  &_title {
    margin: 30px 5% 0px;
  }

  &_area {
    background-color: #fff;
    border-radius: 5px;
    margin: 0 5%;
    font-size: 24px;
  }
}

.high-rate-list {
  width: 100%;
  height: auto;
}

.all-high-rate {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: center;
  width: auto;
  height: auto;
  margin: 10px 0;
  background-color: #fff;
  font-size: 16px;
}


/* サイドナビ部分
------------------------- */
.data-count-area {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.data-count_store {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  border-right: 2px solid #ddd;
  width: 100%;
  height: 100%;
  &_count {
    display: flex;
    justify-content: center;
    padding: 3px;
  }
  &_text {
    display: flex;
    justify-content: center;
    padding: 3px;
  }
}

.data-count_user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin: auto 5px;
  border-right: 2px solid #ddd;
  width: 100%;
  height: 100%;
  &_count {
    display: flex;
    justify-content: center;
    padding: 3px;
  }
  &_text {
    display: flex;
    justify-content: center;
    padding: 3px;
  }
}

.data-count_review {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin: auto 5px;
  width: 100%;
  height: 100%;
  &_count {
    display: flex;
    justify-content: center;
    padding: 3px;
  }
  &_text {
    display: flex;
    justify-content: center;
    padding: 3px;
  }
}


.user-info-area {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: peachpuff;
}

.user-info-main-area {
  display: flex;
  flex-direction: column;
  margin: 5%;
  padding: 5%;
  width: 90%;
  height: 200px;
  background-color: white;
  border: 2px solid #ddd;
}

.user-top-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  //padding: 10px;
  width: 100%;
  height: 70px;
  //background-color: lightgray;
}

.user-icon {
  width: 64px;
  height: 64px;
}

.user-action-data {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px 0;
  width: 100%;
  height: 80px;
}

.act-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  margin: 5px 0;
  width: 100%;
  height: auto;
  border-top: 2px solid gray;
}

.user-bookmark-store {
  display: flex;
  flex-direction: column;
  margin: 5%;
  padding: 5%;
  width: 90%;
  height: 600px;
  background-color: white;
  border: 2px solid #ddd;
  padding: 5%;

  &_title {
    text-align: center;
  }

  &_store {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 70px;
    //background-color: blue;
    border-top: 1px solid gray;
  }

}

.store-icon {
  width: 64px;
  height: 64px;
}

.bookmark_store_info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 0.8rem;
  margin-left: 10px;

  &_name {
    display: flex;
    justify-content: flex-start;
  }

  &_area {
    display: flex;
    justify-content: flex-start;
  }

  &_review {
    display: flex;
    justify-content: flex-start;
  }
}

.user_bookmark-store_footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}



/* フッター部分
------------------------- */

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 0;
}


  #footer01 .nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 20px 0;
  }
  #footer01 .nav a:hover {
    color: #ca353b;
  }