
/* user/showページで使用するcss
------------------------- */

.user-body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 960px;
  height: 304px;
  margin: 32px 0;
  padding: 32px;
  background-color: oldlace;
}

.user-self-info {
  display: flex;
  width: 60%;
  height: 100%;
  margin: 32px 0;
  padding: 32px 16px 16px 16px;
  font-size: 14px;
  background-color: white;
  border: solid 1px lightgray;
}

.user-action-info {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 32%;
  height: 100%;
  padding: 16px 16px 16px 16px;
  font-size: 12px;
  background-color: white;
  border: solid 1px lightgray;
}

.user-action-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: dotted 1px lightgray;
  height: 36px;

  &_title {
  }

  &_reviews {
    display: flex;
  }

  &_histories {
  }

  &_clips {
  }

}

