
<!-- トップページ以外のヘッダー下共通部分 -->
<header class="page-header second-header-wrapper">
  <div class="breadcrumbs">
    ホーム › テストユーザーさん のマイページ › 〇〇一覧
  </div>
  <div class="cover-img">
    <%= image_tag("960x65.png" ) %>
  </div>
  <div class="content-container">
    <%= image_tag("136x136.png", class:'image-icon') %>
    <div class="user-content-area">
      テストさんのマイページ
      <ul class="user-content-nav">
        <li class="user-content-nav-link"><%= link_to "トップ", user_path(current_user) %></li>
        <li class="user-content-nav-link">行ったお店</li>
        <li class="user-content-nav-link">保存済み</li>
        <li class="user-content-nav-link"><%= link_to "設定", edit_user_path(current_user) %></li>
      </ul>
    </div>
  </div>
</header>