
<!-- error Message出力（application.html.erb）で使用 -->
<% if flash.notice.present? %>
  <div class="flash_wrap alert alert-success"><%= flash.notice %></div>
<% end %>
<% if flash.alert.present? %>
  <div class="flash_wrap alert alert-warning"><%= flash.alert %></div>
<% end %>