
<%# 本番デプロイでうまく機能していないため、一旦非公開へ %>
<!--  <p>-->
    <%#= link_to '/auth/twitter', class: "btn btn-social btn-twitter" do %>
<!--      <span class="fa fa-twitter"></span> Twitterアカウントでログイン-->
    <%# end %>
<!--  </p>-->
<!--  <p>-->
    <%#= link_to '/auth/facebook', class: "btn btn-social btn-facebook" do %>
<!--      <span class="fa fa-facebook"></span> Facebookアカウントでログイン-->
    <%# end %>
<!--  </p>-->
<!--  <p>-->
    <%#= link_to '/auth/google_oauth2', class: "btn btn-social btn-google" do %>
<!--      <span class="fa fa-google"></span> Googleアカウントでログイン-->
    <%# end %>
<!--  </p>-->